[Desktop Entry]
Icon=application-x-shellscript
Name=dialogoselecionararquivos.sh
Type=Link
URL[$e]=file:$HOME/Comandosshell/dialogoselecionararquivos.sh
X-KDE-LastOpenedWith=kate
