[Desktop Entry]
Icon=application-x-shellscript
Name=Diretorioearquivos.sh
Type=Link
URL[$e]=file:$HOME/Comandosshell/Diretorioearquivos.sh
X-KDE-LastOpenedWith=kate
