[Desktop Entry]
Icon=text-html
Name=items
Type=Link
URL[$e]=https://marketplace.visualstudio.com/items?itemName=bbenoist.shell
X-KDE-LastOpenedWith=firefox
